<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clarios6.emcampus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CSU_SanJose" />
        <activity android:name=".CSU" />
        <activity android:name=".CSU_Fresno" />
        <activity android:name=".CSU_LosAngeles" />
        <activity android:name=".CSU_EastBay" />
        <activity android:name=".CSU_DominguezHills" />
        <activity android:name=".CSU_Chico" />
        <activity android:name=".CSU_ChannelIslands" />
        <activity android:name=".CSU_CalMaritime" />
        <activity android:name=".CSU_Bakersfield"></activity>
    </application>

</manifest>